<a href="https://colab.research.google.com/github/vaibhav-arde/crickInfoWebScrapingAndDataAnalysis/blob/main/crickInfoWebScrapingAndDataAnalysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

# URL of the webpage to scrape
url = "https://www.espncricinfo.com/records/tournament/team-match-results/icc-men-s-t20-world-cup-2022-23-14450"

# Read the tables from the URL into a list of DataFrames
tables = pd.read_html(url)

# Check the number of tables found
print(f"Found {len(tables)} tables on the webpage")
df = tables[0]
# Assuming the table you want is the first one (you may need to inspect the webpage to verify)
if len(tables) > 0:
    # Select the first DataFrame (or the one that contains the data you need)
    df = tables[0]

    # Print the DataFrame to see the scraped data
    print(df)
else:
    print("No tables found on the webpage")

Found 1 tables on the webpage
          Team 1        Team 2        Winner      Margin     Ground  \
0        Namibia     Sri Lanka       Namibia     55 runs    Geelong
1    Netherlands        U.A.E.   Netherlands   3 wickets    Geelong
2       Scotland   West Indies      Scotland     42 runs     Hobart
3        Ireland      Zimbabwe      Zimbabwe     31 runs     Hobart
4        Namibia   Netherlands   Netherlands   5 wickets    Geelong
5      Sri Lanka        U.A.E.     Sri Lanka     79 runs    Geelong
6        Ireland      Scotland       Ireland   6 wickets     Hobart
7    West Indies      Zimbabwe   West Indies     31 runs     Hobart
8    Netherlands     Sri Lanka     Sri Lanka     16 runs    Geelong
9        Namibia        U.A.E.        U.A.E.      7 runs    Geelong
10       Ireland   West Indies       Ireland   9 wickets     Hobart
11      Scotland      Zimbabwe      Zimbabwe   5 wickets     Hobart
12     Australia   New Zealand   New Zealand     89 runs     Sydney
13   Afghanistan       England       England   5 wickets      Perth
14       Ireland     Sri Lanka     Sri Lanka   9 wickets     Hobart
15         India      Pakistan         India   4 wickets  Melbourne
16    Bangladesh   Netherlands    Bangladesh      9 runs     Hobart
17  South Africa      Zimbabwe     no result           -     Hobart
18     Australia     Sri Lanka     Australia   7 wickets      Perth
19       England       Ireland       Ireland      5 runs  Melbourne
20    Bangladesh  South Africa  South Africa    104 runs     Sydney
21         India   Netherlands         India     56 runs     Sydney
22      Pakistan      Zimbabwe      Zimbabwe       1 run      Perth
23   New Zealand     Sri Lanka   New Zealand     65 runs     Sydney
24    Bangladesh      Zimbabwe    Bangladesh      3 runs   Brisbane
25   Netherlands      Pakistan      Pakistan   6 wickets      Perth
26         India  South Africa  South Africa   5 wickets      Perth
27     Australia       Ireland     Australia     42 runs   Brisbane
28   Afghanistan     Sri Lanka     Sri Lanka   6 wickets   Brisbane
29       England   New Zealand       England     20 runs   Brisbane
30   Netherlands      Zimbabwe   Netherlands   5 wickets   Adelaide
31    Bangladesh         India         India      5 runs   Adelaide
32      Pakistan  South Africa      Pakistan     33 runs     Sydney
33       Ireland   New Zealand   New Zealand     35 runs   Adelaide
34     Australia   Afghanistan     Australia      4 runs   Adelaide
35       England     Sri Lanka       England   4 wickets     Sydney
36   Netherlands  South Africa   Netherlands     13 runs   Adelaide
37    Bangladesh      Pakistan      Pakistan   5 wickets   Adelaide
38         India      Zimbabwe         India     71 runs  Melbourne
39   New Zealand      Pakistan      Pakistan   7 wickets     Sydney
40       England         India       England  10 wickets   Adelaide
41       England      Pakistan       England   5 wickets  Melbourne

      Match Date    Scorecard
0   Oct 16, 2022  T20I # 1823
1   Oct 16, 2022  T20I # 1825
2   Oct 17, 2022  T20I # 1826
3   Oct 17, 2022  T20I # 1828
4   Oct 18, 2022  T20I # 1830
5   Oct 18, 2022  T20I # 1832
6   Oct 19, 2022  T20I # 1833
7   Oct 19, 2022  T20I # 1834
8   Oct 20, 2022  T20I # 1835
9   Oct 20, 2022  T20I # 1836
10  Oct 21, 2022  T20I # 1837
11  Oct 21, 2022  T20I # 1838
12  Oct 22, 2022  T20I # 1839
13  Oct 22, 2022  T20I # 1840
14  Oct 23, 2022  T20I # 1841
15  Oct 23, 2022  T20I # 1842
16  Oct 24, 2022  T20I # 1843
17  Oct 24, 2022  T20I # 1844
18  Oct 25, 2022  T20I # 1845
19  Oct 26, 2022  T20I # 1846
20  Oct 27, 2022  T20I # 1847
21  Oct 27, 2022  T20I # 1848
22  Oct 27, 2022  T20I # 1849
23  Oct 29, 2022  T20I # 1850
24  Oct 30, 2022  T20I # 1851
25  Oct 30, 2022  T20I # 1852
26  Oct 30, 2022  T20I # 1853
27  Oct 31, 2022  T20I # 1855
28   Nov 1, 2022  T20I # 1856
29   Nov 1, 2022  T20I # 1858
30   Nov 2, 2022  T20I # 1859
31   Nov 2, 2022  T20I # 1860
32   Nov 3, 2022  T20I # 1861
33   Nov 4, 2022  T20I # 1862
34   Nov 4, 2022  T20I # 1864
35   Nov 5, 2022  T20I # 1867
36   Nov 6, 2022  T20I # 1871
37   Nov 6, 2022  T20I # 1872
38   Nov 6, 2022  T20I # 1873
39   Nov 9, 2022  T20I # 1877
40  Nov 10, 2022  T20I # 1878
41  Nov 13, 2022  T20I # 1879

In [6]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>